  <div class="question-container">
    <div class="question-header">
      <%= link_to profile_path(question.user) do  %>
        <% if question.user.photo.present? %>
          <%= cl_image_tag(question.user.photo, class: "avatar-medium", gravity: "faces") %>
        <% else %>
          <%= image_tag (asset_path('avatar-default.png')), class: "avatar-medium" %>
        <% end %>
      <% end %>
      <div class="question-header-info">
        <div class="header-info-text">
          <%= link_to profile_path(question.user) do  %>
            <h6><%= question.user.first_name %> <%= question.user.last_name %></h6>
          <% end %>
          <p><%= time_ago_in_words(question.created_at).capitalize %> ago</p>
        </div>
        <i class="fas fa-share"></i>
      </div>
    </div>

    <div class="question-content">
      <p><%= question.content %></p>
    </div>

    <% if question.photo.present? %>
      <div class="question-photo">
        <%= cl_image_tag(question.photo, width: 500) %>
      </div>
    <% else %>
    <% end %>

    <div class="question-anwser">
      <div class="answer-box">
        <% if current_user.photo.present? %>
          <%= cl_image_tag(current_user.photo, class: "avatar-small", gravity: "faces") %>
        <% else %>
          <%= image_tag (asset_path('avatar-default.png')), class: "avatar-small" %>
        <% end %>
      </div>
    </div>
  </div>

