  <div class="question-tag-container col-12">
    <div class="question-tag-left-block">
      <h4><%= tag.name %></h4>
    </div>
    <div class="question-tag-right-block">
      <div class="question-tag-right-block-top">
        <div class="question-tag-topic">
          <p>Topics:</p>
          <% if tag.questions.count == 0 %>
            <p>0</p>
          <% else %>
            <p><%= tag.questions.count %></p>
          <% end %>
        </div>
        <div class="question-tag-activity">
          <p>Activity:</p>
          <% if tag.questions.count == 0 %>
            <p>No activity</p>
          <% else %>
            <p><%= tag.questions.last.created_at %></p>
          <% end %>
        </div>
      </div>
      <div class="question-tag-right-block-bottom">
        <div class="question-tag-last-topic">
          <p>Last topic:</p>
          <% if tag.questions.count == 0 %>
          <% else %>
            <div class="question-tag-topic-user">
              <%= cl_image_tag(tag.questions.last.user.photo, class: "avatar-medium") %>
              <p><%= tag.questions.last.content.truncate(100) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
