  <div class="question-tag-container col-12">
    <div class="question-tag-left-block">
      <div class="question-tag-title">
        <h3><%= tag.name %></h3>
      </div>
    </div>
    <div class="question-tag-right-block">
      <div class="question-tag-right-block-top">
        <div class="question-tag-topic">
          <p>Topics:</p>
          <% if tag.questions.count == 0 %>
            <p>0</p>
          <% else %>
            <p><%= tag.questions.count %></p>
          <% end %>
        </div>
        <div class="question-tag-activity">
          <p>Activity:</p>
          <% if tag.questions.count == 0 %>
            <p>No activity</p>
          <% else %>
            <% if tag.questions.last.created_at.today? %>
              <p><%= tag.questions.last.created_at.strftime("Today, %H:%M") %></p>
            <% else %>
              <p><%= time_ago_in_words(tag.questions.last.created_at).capitalize %> ago</p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="question-tag-right-block-bottom">
        <div class="question-tag-last-topic">
          <p>Last topic:</p>
          <% if tag.questions.count == 0 %>
            <p id="question-topic-p-tag">None</p>
          <% else %>
            <div class="question-tag-topic-user">
              <% if tag.questions.last.user.photo.present? %>
                <%= cl_image_tag(tag.questions.last.user.photo, class: "avatar-tag-index", gravity: "faces") %>
              <% else %>
                <%= image_tag (asset_path('avatar-default.png')), class: "avatar-tag-index" %>
              <% end %>
              <p id="question-topic-p-tag"><%= tag.questions.last.content.truncate(100) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
