<div class="container py-5">
  <h1 class="thin-heading">ASK QUESTION</h1>
  <div class="title-underline mb-4"></div>
  <%= simple_form_for @question, method: :post do |form| %>
    <%= form.input :content %>
    <%= form.association :question_tags, input_html: { class: 'select2' } %>
    <%= form.input :photo, label: 'Image' %>
    <%= form.input :photo_cache, as: :hidden %>
    <br>
    <%= form.submit "POST QUESTION", class: "btn btn-primary" %>
  <% end %>
</div>
