<div class="question-show d-flex">
  <div class="question-show-container">
    <div class="question-header">
      <div class="question">
        <h4><%= @question.content %></h4>
      </div>
      <% if @question.answers.count == 1 %>
        <p class="number-of-answers">1 Answer</p>
      <% else %>
        <p class="number-of-answers"><%= @question.answers.count %> Answers</p>
      <% end %>
    </div>
    <div class="answer-container">
      <%= render 'new_answer' %>
      <div class="">
        <%= render partial:'partials/answers', locals: { answers: @question.answers } %>
      </div>
    </div>
  </div>
  <div class="related-questions">
    <%= render partial:'related_questions', locals: { related_questions: @related_questions, questions: @questions } %>
  </div>
</div>
