<div class="question-show d-flex">
  <div class="question-show-container">
    <div class="question-header">
      <div class="question">
        <h4><%= @question.content %></h4>
      </div>
      <% if @question.answers.count == 1 %>
        <p class="number-of-answers">1 Answer</p>
      <% else %>
        <p class="number-of-answers"><%= @question.answers.count %> Answers</p>
      <% end %>
    </div>
    <div class="answers">
      <%= render 'new_answer' %>
    </div>
  </div>
  <div class="related-questions">
      <h6>Related Questions</h6>
      <% if @related_questions.count <= 10 %>
        <% @related_questions.each do |question| %>
          <%= link_to question.content.truncate(200), question_path(question), target: :_blank %>
          <br>
          <br>
        <% end %>
      <% else %>
        <% @related_questions.sample(10) do |question| %>
          <%= link_to question.content.truncate(200), question_path(question), target: :_blank %>
          <br>
          <br>
        <% end %>
      <% end %>
  </div>
</div>
