<%= link_to cl_image_tag(design.photo, class: 'design-pic'), design_path(design.id), width: 600, height: 200, crop: "pad" %>
  <div class="infos">
    <div class="text">
     <div class="user-link"> <%= link_to cl_image_tag(design.user.photo, class: "avatar-small"), profile_path(design.user) %>
      <%= link_to design.user.first_name, profile_path(design.user) %> <%= link_to design.user.last_name, profile_path(design.user) %></div>
      <div class="title-link"><%= link_to design.title, design_path(design.id) %></div>
      </div>
  </div>
