<%= link_to cl_image_tag(design.photo, class: 'design-pic'), design_path(design.id), width: 600, height: 400, crop: "pad" %>
  <%= link_to profile_path(design.user) do %>
    <div class="infos">
      <div class="text-background">
        <div class="d-flex align-items-center">
          <%= cl_image_tag(design.user.photo, class: "avatar-small") %>
          <div class="user-link">
            <%= design.user.first_name %>
            <%= design.user.last_name %>
          </div>
        </div>
        <div class="title-link"><%= link_to design.title.truncate(30), design_path(design.id) %></div>
      </div>
    </div>
  <% end %>
