<% if @comments.nil? || @comments.empty? %>
  <div>
    <%='No comments'%>
  </div>
<% else %>
  <% @comments.reverse.each_with_index do |comment, index| %>
    <div class="comment-card" onmouseover="showPin(<%=comment.id%>)" onmouseleave="showAllPins()">
      <div class="comment-card-number">
        <%= @comments.count - index %>
      </div>

      <div class= "comment-box">
        <div class="comment-content" id="comment-<%= comment.id %>">
         <%= comment.content %>
        </div>
        <div class="comment-meta">
          <%= link_to profile_path(comment.user), class: "masonry-content" do %>
            <%= render partial:'partials/author', locals: { user: comment.user, created_at: comment.created_at } %>
          <% end %>
          <div class="comment-meta-link" >
            <% if policy(comment).update? && policy(comment).destroy? %>
            <div class="dropdown">
              <button class="btn btn-default" type="button" id="menu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><%= link_to 'Edit', edit_design_comment_path(comment.design, comment), remote: true, class: "dropdown-item" %></li>
                <li role="presentation"><%= link_to 'Delete', comment_path(comment), class: "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
            <% else %>
            <% end %>
            <button onclick="showPin(<%=comment.id%>)" hidden="hidden">Show Pin</button>
          </div>
        </div>
      </div>

      <div id="votes">
        <%= render 'comment_vote_form', comment: comment %>
      </div>
    </div>
    <div id="comment<%= comment.id %>-response-form">
      <%= render 'partials/response_form', media: comment.design, content: comment, response: Response.new %>
    </div>
    <div id="comment<%= comment.id %>-responses">
      <% comment.responses.each do |response| %>
        <div>
          <div class="d-flex align-items-center">
            <% if response.user.photo.present? %>
              <%= cl_image_tag(response.user.photo, class: "avatar-small", gravity: "faces") %>
            <% else %>
              <%= image_tag (asset_path('avatar-default.png')), class: "avatar-small" %>
            <% end %>
            <div class="response-user">
              <%= response.user.first_name %>
              <%= response.user.last_name %>
            </div>
          </div>
          <div class="response-content">
            <%= response.content %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
