<% if @comments.nil? || @comments.empty? %>
  <div>
    <%='No comments'%>
  </div>
<% else %>
  <% @comments.each.with_index do |comment, index| %>
    <div class="comment-card" onmouseover="showPin(<%=comment.id%>)" onmouseleave="showAllPins()">
      <div class="comment-card-number">
        <%= index + 1 %>
      </div>

      <div class= "comment-box">
        <div>
         <%= comment.content %>
        </div>
        <div class="comment-meta">
          <%= cl_image_tag comment.user.photo, class: 'user-profile-pic' %>
          <div class="comment-meta-name">
            Marton Bodonyi
            <!--  <%= comment.user.first_name %> <%= comment.user.last_name %> -->
          </div>
          <div class="comment-meta-date">
            <%= time_ago_in_words(comment.created_at) %> ago
          </div>

        </div>
      </div>

      <div id="votes">
        <%= render 'vote_form', comment: comment %>
      </div>

      <div class="under-comment-box">
        <button onclick="showPin(<%=comment.id%>)">Show Pin</button>
        <%= link_to 'Edit', edit_design_comment_path(comment.design, comment), remote: true %>
      </div>

    </div>
  <% end %>
<% end %>
