  <% if @comments.nil? || @comments.empty? %>
    <div>
      <%='No comments'%>
    </div>
  <% else %>
    <% @comments.each do |comment| %>
      <div>
        <%= cl_image_tag comment.user.photo, class: 'user-profile-pic' %>
        <%= comment.user.first_name %> <%= comment.user.last_name %>
      </div>
      <div class="comment-box-container">
        <div class= "comment-box">
          <div>
            <%= comment.content %>
          </div>
        </div>
          <div id="votes">
            <%= render 'vote_form', comment: comment %>
          </div>
        </div>
        <div class="under-comment-box">
          <button onclick="showPin(<%=comment.id%>)">Show Pin</button>
          <%= link_to 'Edit', edit_design_comment_path(comment.design, comment), remote: true %>
        </div>
      <% end %>
  <% end %>
