<div id='js-comment-form'>
  <%= simple_form_for [@design, @comment] , html: { class: 'new-comment-form' }, method: :post do |form| %>
    <%= form.input :content, label: false, placeholder: @comments.nil? || @comments.empty? ? "Be the first to leave a comment..." : "Leave your comment here...", wrapper_html: { class: 'new-comment-form-input' } %>
  <div class="location">
    <%= form.input :x, :input_html => { :class => "js-comment-x" }%>
    <%= form.input :y, :input_html => { :class => "js-comment-y" }%>
  </div>
    <%= form.button :button, class:'new-comment-form-submit' do %>
      <span class="fas fa-angle-right"></span>
    <% end %>
  <% end %>
</div>
