<h1>Design#index</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a class="dropdown-item" href="#">ALL</a>
    <a class="dropdown-item" href="#">Photography</a>
    <a class="dropdown-item" href="#">Architecture</a>
    <a class="dropdown-item" href="#">Design</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Country
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a class="dropdown-item" href="#">ALL</a>
    <a class="dropdown-item" href="#">Photography</a>
    <a class="dropdown-item" href="#">Architecture</a>
    <a class="dropdown-item" href="#">Design</a>
  </div>
</div>


<%= form_tag designs_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Search", :name => nil  %>
 <% end %>

 <hr>
  <% @designs.each do |design| %>
    <%=cl_image_tag design.photo%>
    <%= design.title %>
    <%= cl_image_tag design.user.photo %>
    <%= design.user.first_name %> <%= design.user.last_name %>
  <% end %>

