<div class="container-bar d-flex">
  <div class="category-link">
    <%= link_to "All", designs_path %>
    <%= link_to "Photography", designs_path %>
    <%= link_to "Architecture", designs_path %>
    <%= link_to "Product Design", designs_path %>
    <%= link_to "Illustration", designs_path %>
  </div>
  <div class="search-bar ml-auto">
    <%= form_tag designs_path, :method => 'get', class: "search-form" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control"%>
      <%= button_tag(type: 'submit', class: "search-btn") do %>
        <i class="fas fa-search"></i>
      <% end %>
   <% end %>
  </div>
</div>

<div class="card-container">
<% @designs.each do |design| %>
  <div class="cards">
    <%= render 'card', design: design %>
  </div>
<% end %>
</div>
