<div class="container-bar d-flex">
  <div class="category-link-area">
    <div class="scroll-bar">
      <div class="category-link">
        <%= link_to "All", designs_path %>
        <%= link_to "Illustration", designs_path(query: 'illustration') %>
        <%= link_to "Product Design", designs_path(query: 'product design') %>
        <%= link_to "Calligraphy", designs_path(query: 'calligraphy') %>
        <%= link_to "Animation", designs_path(query: 'animation') %>
        <%= link_to "Web Design", designs_path(query: 'web design') %>
        <%= link_to "Paint", designs_path(query: 'paint') %>
        <%= link_to "Typography", designs_path(query: 'typography') %>
        <%= link_to "Branding", designs_path(query: 'branding') %>
        <%= link_to "Logo", designs_path(query: 'logo') %>
        <%= link_to "Advertising", designs_path(query: 'Advertising') %>
        <%= link_to "Packaging & Label", designs_path(query: 'label') %>
        <%= link_to "Games & Entertainment", designs_path(query: 'games') %>
        <%= link_to "Merchandise", designs_path(query: 'merchandise') %>
      </div>
    </div>
    <i class="fas fa-caret-right category-link-more"></i>
  </div>
  <div class="search-bar" id="design-search-bar">
    <%= form_tag designs_path, :method => 'get', class: "search-form" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control"%>
      <%= button_tag(type: 'submit', class: "search-btn") do %>
        <i class="fas fa-search"></i>
      <% end %>
   <% end %>
  </div>
</div>

<a data-toggle="modal" data-target="#designModal">
  <%= image_tag (asset_path('orange-circle.png')), class: "add-btn", id: "add-btn-design" %>
</a>
<div class="card-container">
<% if @designs.empty? %>
  <h5>No results found.</h5>
<% else %>
  <% @designs.each do |design| %>
    <div class="cards">
      <%= render 'card', design: design %>
    </div>
  <% end %>
<% end %>
</div>
