<div class="container-bar d-flex">
  <div class="category-link-area">
    <div class="scroll-bar">
      <div class="category-link">
        <%= link_to "All", designs_path %>
        <%= link_to "Illistration", designs_path(query: 'illistration') %>
        <%= link_to "Product Design", designs_path(query: 'product design') %>
        <%= link_to "Animation", designs_path(query: 'animation') %>
        <%= link_to "Web Design", designs_path(query: 'web design') %>
        <%= link_to "Games & Entertainment", designs_path(query: 'games') %>
        <%= link_to "Paint", designs_path(query: 'paint') %>
        <%= link_to "Sound Design", designs_path(query: 'sound design') %>
        <%= link_to "Typography", designs_path(query: 'typography') %>
      </div>
    </div>
    <i class="fas fa-caret-right category-link-more"></i>
  </div>
  <div class="search-bar ml-3">
    <%= form_tag designs_path, :method => 'get', class: "search-form" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control"%>
      <%= button_tag(type: 'submit', class: "search-btn") do %>
        <i class="fas fa-search"></i>
      <% end %>
   <% end %>
  </div>
</div>

<div class="card-container">
<% if @designs.empty? %>
  <h5>No results found.</h5>
<% else %>
  <% @designs.each do |design| %>
    <div class="cards">
      <%= render 'card', design: design %>
    </div>
  <% end %>
<% end %>
</div>
