<html>
  <head>
  </head>
  <body>
    <div class="container">
        <div class="js-design-photo-pinner design-photo-pinner" >
          <%= cl_image_tag @design.photo %>
          <div class ="js-design-photo-pin design-photo-pin"></div>
          <div id="hidden">
            <% @comments.each do |comment| %>
              <%= comment.x*100 %>
              <%= comment.y*100 %>
              <div data-comment-id="<%=comment.id%>" class="design-photo-pin" style="top: <%= comment.y*100%>%; left: <%= comment.x*100 %>%;"></div>
            <% end %>
          </div>
            <p id="demo"></p>
            <button onclick="allPinns()"> Show all Pinns</button>


            <script>
              function showCoords(event) {
                var x = event.clientX;
                var y = event.clientY;
                var coords = [x,y];
                document.getElementById("demo").innerHTML = coords;

              };
              function allPinns() {
                var x = document.getElementById("hidden");
                if (x.style.display === "none") {
                  x.style.display = "block";
                } else {
                  x.style.display = "none";
                }
              }
              function singlePin(comment_id) {
                // Hide all pins
                var x = document.getElementById("hidden");
                // select the clicked pin, and show it
                 var clickedPin = document.querySelector('[data-comment-id="' + comment_id + '"]');
                 console.log(clickedPin);
                 if (x.style.display === "none" && clickedPin == comment_id){
                     clickedPin.style.display = "block";
                  } else {
                    x.style.display = "none";
                   }
                 }

            </script>
        </div>
            <div>
              <div>
                <%= @user.first_name %> <%= @user.last_name %>
              </div>
              <div>
                <%= @design.title %>
                <br>
                <%= @design.description %>
              </div>
            </div>
          <div >
            <% if @comments.nil? || @comments.empty? %>
              <div>
                <%='No comments'%>
              </div>
              <div id='js-comment-form'>
                <%= simple_form_for [@design, @comment], method: :post do |form| %>
                  <%= form.input :content, label: false, placeholder: "Be the first to leave a comment...", id:'js-your-message' %>
                  <%= form.input :x, :input_html => { :class => "js-comment-x" }%>
                  <%= form.input :y, :input_html => { :class => "js-comment-y" }%>
                  <%= form.submit "COMMENT" %>
                <% end %>
              </div>
            <% else %>
                <% @comments.each do |comment| %>
                <div id="comment-<%= comment.id %>">
                  <div>
                    <%= cl_image_tag comment.user.photo %>
                    <%= comment.user.first_name %> <%= comment.user.last_name %>
                  </div>
                  <div>
                    <%= comment.content %>
                    <%= link_to 'Edit', edit_design_comment_path(comment.design, comment), remote: true %>
                    <%= render 'vote_form', comment: comment %>
                  </div>
                  <button onclick="singlePin(<%=comment.id%>)">Show Pin</button>

                </div>
                <% end %>
                  <div id='js-comment-form'>
                    <%= simple_form_for [@design, @comment], id:'js-comment-form' , method: :post do |form| %>
                    <%= form.input :content, label: false, placeholder: "Comment..." %>
                    <%= form.input :x, :input_html => { :class => "js-comment-x" }%>
                    <%= form.input :y, :input_html => { :class => "js-comment-y" }%>
                    <%= form.submit "COMMENT" %>
                    <% end %>
                  </div>
                <% end %>
          </div>
    </div>
  </body>
</html>


