<div class="fluid-container">
  <div class="row" >
    <div class="col-12 col-xl-8" style="margin: 0; padding: 0;" >

      <div class="main-show-container">
          <div class="js-design-photo-pinner design-photo-pinner">
            <div class="design-photo-image-wrapper">
              <%= cl_image_tag @design.photo, width: 900 %>
              <% if @comments.nil? %>
                <p>No comments</p>
              <% else %>
                <% @comments.each.with_index do |comment, index| %>
                  <% if comment.x.nil? || comment.y.nil? %>
                    <div data-comment-id="<%=comment.id%>" class="design-photo-pin"></div>
                  <% else %>
                    <div data-comment-id="<%=comment.id%>" class="design-photo-pin visible" style="top: <%= (comment.y * 100) %>%; left: <%= comment.x * 100 %>%;">
                      <%= index + 1 %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <div class ="js-design-photo-pin design-photo-pin" ></div>
              <div class="eye-button">
                <button id="toggle-pins-button" onclick="togglePins()"><i class="fas fa-eye-slash"></i></button>
              </div>
            </div>


              <script>
                const pins = document.querySelectorAll(".design-photo-pin");
                const toggleButton = document.querySelector("#toggle-pins-button");

                function showCoords(event) {
                  var x = event.clientX;
                  var y = event.clientY;
                  var coords = [x,y];
                  document.getElementById("js-design-photo-pin").innerHTML = coords;
                };

                function showAllPins() {
                  pins.forEach((pin) => {
                    pin.classList.add("visible")
                  });
                }

                function hideAllPins() {
                  pins.forEach((pin) => {
                    pin.classList.remove("visible")
                  });
                }

                function togglePins() {
                  const visiblePins = document.querySelectorAll(".design-photo-pin.visible");

                  if (visiblePins.length === 0) {
                    toggleButton.innerHTML = "<i class=\"fas fa-eye-slash\"></i>";
                    showAllPins()
                  } else {
                    toggleButton.innerHTML = "<i class=\"fas fa-eye\"></i>";
                    hideAllPins()
                  }
                }

                function showPin(comment_id) {
                  var clickedPin = document.querySelector('[data-comment-id="' + comment_id + '"]');

                  hideAllPins();
                  clickedPin.classList.add("visible");
                  toggleButton.innerHTML = "<i class=\"fas fa-eye\"></i>";
                }

              </script>
          </div>
              <div class="design-description">
                <div class="comment-meta-name" style="margin: 0;">
                  <%=@user.first_name %> <%= @user.last_name %>
                </div>
                <div>
                  <%= @design.title %>
                  <br>
                  <%= @design.description %>
                </div>
              </div>
      </div>
    </div>
      <div class="col-12 col-xl-4 comment-container" >
        <div class="overflow-auto">
          <div class="comments">
            <%= render 'comments' %>
          </div>
        </div>
        <div class="new-comment">
          <%= render 'new_comment' %>
        </div>
      </div>
  </div>
</div>
