<div class="fluid-container">
  <div class="row" >
    <div class="col-12 col-xl-8" style="margin: 0; padding: 0;" >

      <div class="main-show-container">
          <div class="js-design-photo-pinner design-photo-pinner">
            <div class="design-photo-image-wrapper">
              <%= cl_image_tag @design.photo, height: 620 %>
              <% if @comments.nil? %>
                <p>No comments</p>
              <% else %>
                <% @comments.each.with_index do |comment, index| %>
                  <% if comment.x.nil? || comment.y.nil? %>
                    <div data-comment-id="<%=comment.id%>" class="design-photo-pin"></div>
                  <% else %>
                    <div data-comment-id="<%=comment.id%>" class="design-photo-pin" style="top: <%= (comment.y * 100) %>%; left: <%= comment.x * 100 %>%;">
                      <%= index + 1 %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <div class ="js-design-photo-pin design-photo-pin-user" >
                <div class="design-photo-pin">
                  <%= @comments.count + 1 %>
                </div>
                <div class="popup-comment-form d-none js-popup-comment-form">
                  <%= render 'new_comment' %>
                </div>
              </div>
              <div class="eye-button">
                <button id="toggle-pins-button" onclick="togglePins()"><i class="fas fa-eye-slash"></i></button>
              </div>
            </div>
          </div>
              <div class="design-description">
                <div class="design-meta-title">
                  <%= @design.title %>
                </div>
                <p class="design-meta-description">
                  <%= @design.description %>
                </p>
                <%= render partial: 'partials/author', locals: { user: @user, created_at: @design.created_at } %>

              </div>
      </div>
    </div>
      <div class="col-12 col-xl-4 comment-container" >
        <div class="overflow-auto comment-wrapper">
          <div class="comments">
            <%= render 'comments' %>
          </div>
        </div>
        <div class="new-comment">
          <%= render 'new_comment' %>
        </div>
      </div>
  </div>
</div>
