<div class="py-5 mx-3">
  <div class="row">
    <div class="col avatar-container">
      <%= cl_image_tag(@user.photo, crop: "scale", class: "avatar-square") %>
    </div>

    <div class="col bio-container">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><i class="fas fa-pencil-ruler"></i><%= @user.job %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= @user.city %></p>
      <p><%= @user.bio %></p>
      <br>
      <a href="mailto:<%= @user.email %>" target="_blank" rel="noopener noreferrer" class="btn-home">EMAIL</a>
      <div class="user-social-link">
        <a href="#"><i class="icon ion-md-globe"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-basketball-ball"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>

    <div class="col experience-container">
      <h6 class="item-title">Experiences<i class="fas fa-caret-down"></i></h6>
      <ul class="timeline">
        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">April 2019 - now</p>
            <h4>UI/UX Designer</h4>
            <p>Schwerpunkt Design</p>
          </div>
        </li>
        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">October 2018 - March 2019</p>
            <h4>Freelancer</h4>
            <p>Geschäftsführerin Web-Studios</p>
          </div>
        </li>
        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">April 2018 - September 2018</p>
            <h4>Layout Design Intern</h4>
            <p>Compass of Design</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

<br>

  <div class="py-4">
    <h6 class="item-title">My Designs<i class="fas fa-caret-right"></i></h6>
    </div>
    <div class="row">
    <% @user.designs.each do |design| %>
      <div class="col-4 mb-5">
        <div class="card">
          <%= link_to cl_image_tag(design.photo, class: 'design-pic'), design_path(design.id), width: 600, height: 400, crop: "pad" %>
          <div class="card-body">
            <div class="card-text"><%= link_to design.title.truncate(30), design_path(design.id) %>
              <%= link_to design_path(design), method: :delete, confirm: "Are you sure ?" do%>
                <span><i class="far fa-trash-alt"></i></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

