<h1>Update Profile</h1>
<br>
<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :city %>
  <%= form.input :bio %>
  <%= form.input :birthday %>
  <%= form.input :photo %>
  <%= form.input :photo_cache, as: :hidden %>
  <%= form.submit %>
<% end %>
