  <div class="question-tag-container col-12">
    <div class="question-tag-left-block">
      <div class="question-tag-title">
        <h3>Portfolios</h3>
      </div>
    </div>
    <div class="question-tag-right-block">
      <div class="question-tag-right-block-top">
        <div class="question-tag-topic">
          <p>Amount:</p>
          <% if portfolios.count == 0 %>
            <p>0</p>
          <% else %>
            <p><%= portfolios.count %></p>
          <% end %>
        </div>
        <div class="question-tag-activity">
          <p>Activity:</p>
          <% if portfolios.count == 0 %>
            <p>No activity</p>
          <% else %>
            <% if portfolios.last.created_at.today? %>
              <p><%= portfolios.last.created_at.strftime("Today, %H:%M") %></p>
            <% else %>
              <p><%= time_ago_in_words(portfolios.last.created_at).capitalize %> ago</p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="question-tag-right-block-bottom">
        <div class="question-tag-last-topic">
          <p>Last portfolio:</p>
          <% if portfolios.count == 0 %>
            <p id="question-topic-p-tag">None</p>
          <% else %>
            <div class="question-tag-topic-user">
              <% if portfolios.last.user.photo.present? %>
                <%= cl_image_tag(portfolios.last.user.photo, class: "avatar-tag-index", gravity: "faces") %>
              <% else %>
                <%= image_tag (asset_path('avatar-default.png')), class: "avatar-tag-index" %>
              <% end %>
              <% if portfolios.last.description.present? %>
                <p id="question-topic-p-tag"><%= portfolios.last.description.truncate(100) %></p>
               <% else %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
