<div class="user-review">
  <%= cl_image_tag(job_post.user.photo, class: "avatar-medium") %>
  <div class="user-review-info">
    <h6><%= current_user.first_name %> <%= current_user.last_name %></h6>
    <% if current_user.job.present? %>
      <p><%= current_user.job %></p>
    <% else %>
    <% end %>
    <%= link_to "Review profile", profile_path(current_user), target: :_blank, id: "review-profile" %>
  </div>
</div>

<%= simple_form_for [job_post, job_application], method: :post do |form| %>
  <%= form.input :note, as: :text, label: "Note:", placeholder: "Optional..." %>
  <%= form.input :photo, label: "Cover Letter:" %>
  <%= form.input :photo_cache, as: :hidden, class: "btn-outline-black"  %>
  <div class="apply-btn">
  <%= form.submit "SUBMIT APPLICATION", class: "btn btn-home mt-2" %>
  </div>
  <% flash[:notice] = "Your application is submitted" %>
<% end %>
