<!-- Modal -->
<div class="modal" id="jobApplicationModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content py-1 px-5">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apply for <%= job_post.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="user-review">
          <%= cl_image_tag(job_post.user.photo, class: "avatar-medium") %>
          <div class="user-review-info">
            <h6><%= current_user.first_name %> <%= current_user.last_name %></h6>
            <% if current_user.job.present? %>
              <p><%= current_user.job %></p>
            <% else %>
            <% end %>
            <%= link_to "Review profile", profile_path(current_user), target: :_blank, id: "review-profile" %>
          </div>
        </div>
        <%= simple_form_for [job_post, job_application], method: :post do |form| %>
          <%= form.input :note, as: :text, label: "Note:", placeholder: "Optional..." %>
          <%= form.input :photo, label: "Cover Letter:" %>
          <%= form.input :photo_cache, as: :hidden, class: "btn-outline-black"  %>
      </div>
      <div class="modal-footer">
          <%= form.submit "APPLY", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
