<%= link_to job_post_path(job_post), remote: true do %>
<div class="testing">
  <div data-aos="fade-up" class="masonry-item jobCard">
    <div class="masonry-content">
      <h3 class="masonry-title text-center"><%= job_post.title %></h3>
      <% if job_post.photo.present? %>
      <div class="job-image text-center p-3">
        <%= cl_image_tag(job_post.photo, class: "job-img", crop: "scale") %>
        </div>
        <% else %>
      <% end %>
      <p class="masonry-description text-center p-2"><%= job_post.content.truncate(400) %></p>
      <div class="text-center mt-3">
        <%= link_to profile_path(job_post.user), class: "masonry-content" do %>
          <% if job_post.user.photo.present? %>
            <%= cl_image_tag(job_post.user.photo, class: "avatar-small", gravity: "faces") %>
          <% else %>
            <%= image_tag (asset_path('avatar-default.png')), class: "avatar-small" %>
          <% end %>
            <small class="masonry-description"><%= job_post.user.first_name %> <%= job_post.user.last_name %></small>
            <small class="masonry-description text-muted"><%= time_ago_in_words(job_post.created_at).capitalize %> ago</small>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

