<div data-aos="fade-up" class="masonry-item">
  <%= link_to job_post_path(job_post.user), class: "masonry-content" do %>
    <h3 class="masonry-title text-center"><%= job_post.title %></h3>
    <% if job_post.photo.present? %>
    <div class="text-center p-3">
      <%= cl_image_tag(job_post.photo, class: "job-img", crop: "scale") %>
      </div>
      <% else %>
    <% end %>
    <p class="masonry-description text-justify p-2"><%= job_post.content.truncate(400) %></p>
    <div class="text-left mt-2">
      <%= link_to profile_path(job_post.user), class: "masonry-content" do %>
          <%= cl_image_tag(job_post.user.photo, class: "avatar-small", :gravity=>"faces") %>
          <small class="masonry-description"><%= job_post.user.first_name %> <%= job_post.user.last_name %></small>
          <% from_time = Time.now - job_post.created_at %>
          <small class="masonry-description text-muted"><%= time_ago_in_words(from_time) %></small>
      <% end %>
    </div>
  <% end %>
</div>

