<div class="sticky-sidebar">
  <div class="accordion">
    <div class="search-bar ml-3">
    <%= form_tag job_posts_path, method: 'get', class: "search-form-job" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control-job" %>
        <%= button_tag(type: 'submit', class: "search-btn") do %>
          <i class="fas fa-search"></i>
        <% end %>
     <% end %>
   </div>
    <ul class="list-unstyled">
      <li>
        <div class="sidebar-header">
          <h2>Profession</h2>
          <span class="icon ion-ios-add"></span>
        </div>
        <div class="sidebar-content">
          <%= link_to "Graphic Designer", job_posts_path(query: 'graphic designer') %>
          <%= link_to "UI/UX Designer", job_posts_path(query: 'UI/UX designer') %>
          <%= link_to "Photographer", job_posts_path(query: 'photographer') %>
          <%= link_to "Illustrator", job_posts_path(query: 'illustrator') %>
          <%= link_to "Video Editor", job_posts_path(query: 'video Editor') %>
          <%= link_to "Digital Producer", job_posts_path(query: 'digital producer') %>
          <%= link_to "Product Designer", job_posts_path(query: 'product designer') %>
        </div>
      </li>
      <li>
        <div class="sidebar-header">
          <h2>Location</h2>
          <span class="icon ion-ios-add"></span>
        </div>
        <div class="sidebar-content">
          <%= link_to "Remote", job_posts_path(query: 'remote') %>
          <%= link_to "Local", job_posts_path(query: 'local') %>
        </div>
      </li>
      <li>
        <div class="sidebar-header">
          <h2>Job Type</h2>
          <span class="icon ion-ios-add"></span>
        </div>
        <div class="sidebar-content">
          <%= link_to "Full Time", job_posts_path(query: 'full time') %>
          <%= link_to "Part Time", job_posts_path(query: 'part time') %>
          <%= link_to "Freelance", job_posts_path(query: 'freelance') %>
          <%= link_to "Collaboration", job_posts_path(query: 'collaboration') %>
          <%= link_to "Internship", job_posts_path(query: 'internship') %>
        </div>
      </li>
    </ul>
  </div>
</div>
