 <div class="container py-5">
  <h1 class="thin-heading">POST JOB</h1>
  <div class="title-underline mb-4"></div>
  <%= simple_form_for @job_post , method: :post do |form| %>
    <%= form.input :title %>
    <%= form.input :content, as: :text, label: "Description" %>
    <%= form.input :city, label: "Location" %>
    <%= form.input :category, label: "Profession", input_html: { class: 'select2' }, collection: ["Photography", "Graphic Design", "Illistraion"] %>
    <%= form.input :photo, label: 'Design' %>
    <%= form.input :photo_cache, as: :hidden, class: "btn-outline-black"  %>
    <br>
    <%= form.submit "POST JOB", class: "btn btn-primary" %>
  <% end %>
</div>
